@import "../../assets/styles/common.scss";

.about-item {
  display: table;
  width: 100%;
}

.profile-image {
  width: 200px;
  border-radius: 50%;
  margin-left: calc(50% - 100px);
  padding: 16px 0;
}

.title {
  @extend .noto;
  margin-bottom: 0;
}

.role {
  margin-top: 0;
  font-weight: inherit;
}

.dummy-line {
  width: 100%;
  height: $sizeMd;
  background-color: $liteGray;
  margin-bottom: 8px;
  opacity: 0.3;

  &.short {
    width: 50%;
    max-width: 160px;
  }
}