@import "../../assets/styles/common.scss";

.about-item {
  display: table;
}

.profile-image {
  width: 200px;
  border-radius: 50%;
  margin-left: calc(50% - 100px);
  padding: 16px 0;
}

.title {
  @extend .noto;
  margin-bottom: 0;
}

.role {
  margin-top: 0;
  font-weight: inherit;
}
