<mat-toolbar class="page-header dummy"></mat-toolbar>
<div class="app-container" scroll>
  <div class="about-item"
      fxFlexOffset.lg="10%"
      fxFlex.lg="80%"
      fxFlexOffset.md="5%"
      fxFlex.md="90%">
    <div class="sub-header">
        <img class="profile-image" src="./assets/img/me.jpg" alt="Akihiro Tanaka">
    </div>

    <div *ngIf="!user">
      <br>
      <div class="dummy-line short"></div>
      <div class="dummy-line short"></div>
      <br>
      <div class="dummy-line"></div>
      <div class="dummy-line"></div>
      <div class="dummy-line"></div>
      <div class="dummy-line short"></div>
    </div>

    <div [@listAnimation]="user">
      <div *ngIf="user">
        <h1 class="title">{{user?.name}}</h1>
        <h4 class="role">Engineer/UI Designer</h4>
        <p [innerHTML]="user?.description"></p>
        <sns-icons></sns-icons>
      </div>
    </div>

  </div>  
</div>