@import "../../assets/styles/common.scss";

.card-container {
  .card-inner {
    padding: 4px;
  }
}
.about-item {
  max-height: initial!important;
  // height: 430px;
  display: table;

  img {
    width: 100%;
    height: auto;
  }
  
  .title {
    @extend .noto;
  }

  .skills {
    @extend .noto;
    height: 35px;
  }

  .description {
    @extend .noto;
    height: 120px;
  }
}