<mat-toolbar class="page-header dummy"></mat-toolbar>

<div class="app-container" *ngIf="(posts$ | async)?.length < 1">
  <button mat-button class="post-item" *ngFor="let dummy of dummies;">
    <div class="main-img">
      <div class="dummy-image"></div>
    </div>
    <div class="description">
      <div class="date">
        <div class="dummy-line"></div>
        <div class="dummy-line"></div>
      </div>
      <div class="post-title">
        <div class="dummy-line short"></div>
      </div>
    </div>
  </button>
</div>

<div class="app-container" [@listAnimation]="posts.length">
  <scroll (setScroll)="scrollCallback()">
    <button mat-button
        class="post-item"
        *ngFor="let post of posts;"
        (click)="openDialog(post)">
      <div class="main-img" *ngIf="post.info?.media">
        <img [src]="post.info?.media[0]?.mediaDetails?.sizes?.medium?.sourceUrl" [fxShow]="false" [fxShow.xs]="true" />
        <img [src]="post.info?.media[0]?.mediaDetails?.sizes?.mediumLarge?.sourceUrl" [fxShow]="false" [fxShow.sm]="true" />
        <img [src]="post.info?.media[0]?.mediaDetails?.sizes?.large?.sourceUrl" [fxShow]="false" [fxShow.gt-sm]="true" />      
      </div>
      <div class="main-img" *ngIf="!post.info?.media">
        <div class="dummy-image"><span>No Image</span></div>
      </div>
      <div class="description">
        <div class="date">{{ getDateFormat(post.date) }}</div>
        <div class="post-title">{{ post.title.rendered }}</div>
        <div class="tags">
          <mat-chip-list>
            <mat-chip *ngFor="let category of post?.info?.team[0]" (click)="openDialog(post)">{{category.name}}</mat-chip>
            <mat-chip *ngFor="let tag of post?.info?.team[1]" color="accent" selected="true" (click)="openDialog(post)">{{tag.name}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
    </button>
  </scroll>

</div>