@import "../../../assets/styles/common.scss";

:host /deep/ {
  .post-item {
    height: auto!important;
    padding: 0 8px!important;
    margin-bottom: 1px;
    width: 100%;
    line-height: initial;
  
    .mat-button-wrapper {
      display: flex;
    }
  }  
}

.main-img {
  flex: 1;
  max-width: 240px;
  min-width: 135px;
  height: 135px;
  border-radius: 0;
  display: grid;

  img {
    height: 100%;
    width: 100%;
    margin-left: -8px;
    object-fit: cover;
  }
}

.description {
  flex: 2;
  text-align: left;
  position: relative;

  .date {
    @extend .noto;
    font-size: $sizeSm;
    line-height: $sizeXl;
    color: $gray;
    font-weight: 400;
  }

  .post-title {
    @extend .noto;
    font-weight: bold;

    font-size: $sizeMd;
    line-height: $sizeMd;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    white-space: normal;  
  }
}

.tags {
  @extend .noto;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: left;
  white-space: normal;
  height: 40px;
  overflow: hidden;

  mat-chip {
    margin-bottom: 8px;
  }
}


:host /deep/ {
  .list-spinner {
    mat-spinner {
      width: 100%!important;
    
      svg {
        height: 100%!important;
        width: auto!important;
      }
    }
  }
}

// dummy post
.dummy-image {
  width: 100%;
  height: 100%;
  background-color: $liteGray;
  margin-left: -8px;
  opacity: 0.3;
}

.dummy-line {
  width: 100%;
  max-width: 320px;
  height: $sizeMd;
  background-color: $liteGray;
  margin-bottom: 8px;
  opacity: 0.3;

  &.short {
    width: 50%;
    max-width: 160px;
  }
}
