<router-outlet></router-outlet>
<mat-sidenav-container>
  <mat-sidenav #sidenav
      class="app-sidenav"
      mode="side"
      opened="false">
    <mat-toolbar></mat-toolbar>
    <mat-nav-list class="app-sidenav-container">
      <a mat-list-item routerLink="/home">Home</a>
      <a mat-list-item routerLink="/blog">Blog</a>
      <a mat-list-item routerLink="/work">Work</a>
      <a mat-list-item routerLink="/about">About</a>
    </mat-nav-list>
    <div class="copyright">{{copyright}}</div>
  </mat-sidenav>

  <header>
    <mat-toolbar class="app-toolber" [ngClass]="{'home-tooler': isHome}">
      <a class="menu-trigger"
          [ngClass]="{'active': isOpen}"
          (click)="sidenav.toggle()"
          [fxShow]="false"
          [fxShow.gt-sm]="true">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <div class="page-name" *ngIf="!isHome">{{currentUrl}}</div>
      <span class="toolber-spacer"></span>
      <sns-icons whiteIcons
          [fxShow]="false"
          [fxShow.gt-sm]="true"></sns-icons>
    </mat-toolbar>
  </header>

  <footer
      [fxShow]="true"
      [fxShow.gt-sm]="false">
    <mat-toolbar class="app-footer fixed-footer" [ngClass]="{'hide': !(footer$ | async)}">
      <nav mat-tab-nav-bar mat-stretch-tabs>
        <!-- Home -->
        <a mat-tab-link
            [routerLink]="'/home'"
            routerLinkActive #rla1="routerLinkActive"
            [active]="rla1.isActive">
          <mat-icon>home</mat-icon>
        </a> 
        <!-- Blog -->
        <a mat-tab-link
            [routerLink]="'/blog'"
            routerLinkActive #rla4="routerLinkActive"
            [active]="rla4.isActive">
          <mat-icon>library_books</mat-icon>
        </a>
        <!-- Work -->
        <a mat-tab-link
            [routerLink]="'/work'"
            routerLinkActive #rla3="routerLinkActive"
            [active]="rla3.isActive">
          <mat-icon>work</mat-icon>
        </a>
        <!-- About -->
        <a mat-tab-link
            [routerLink]="'/about'"
            routerLinkActive #rla2="routerLinkActive"
            [active]="rla2.isActive">
          <mat-icon>person</mat-icon>
        </a>

      </nav>
    </mat-toolbar>
  </footer>

  <main [@routerTransition]="getState(o)" [ngClass]="{'active': isOpen}">
    <router-outlet #o="outlet"></router-outlet>
  </main>
</mat-sidenav-container>
