/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/common.scss";

// @import '~highlight.js/styles/dark.css';
// @import '~highlight.js/styles/atelier-estuary-dark.css';
@import '~highlight.js/styles/atom-one-dark.css';
@import '~@angular/material/theming';
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-grey, 600);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);


// Common style
html {
  font-size: $sizeSm;
}

body {
  // font-family: 'Open Sans' ,sans-serif;
  font-weight: 200;
  line-height: 1.42857143;
  color: $baseColor;
  margin: 0;
}

main {
  > ng-component {
    height: 100%;
    display: block;
    width: 100%;
    overflow: hidden;
  }

  &.active {
    > ng-component {
      height: 100vh;

      &.ng-animating {
        width: calc(100vw - 240px);
      }
    }      
  }
}

// header
header {
  .toolber-spacer {
    flex: 1 1 auto;
  }
}


// main content
.app-container {
  padding: 16px 8px 56px 8px;
  background-color: white;
}

.page-header {
  @extend .shadow;
  widows: 100%;
  background-color: $mainColor;

  &.dummy {
    background-color: white;
  }
}

// dialog
.rs-full-screen-dialog .mat-dialog-container {
  max-width: none;
  padding: 0px;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  bottom: 40px;
  left: 80px;
  right: 80px;
  width: auto;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.dialog-content {
  padding: 0 12px;
}

.wordpress-post {
  h1, h2, h3, h4, h5 {
    padding-top: 32px;
  }

  em code {
    padding: 2px 4px;
    font-size: 90%;
    color: $baseColor;
    background-color: #e0e0e0;
    border-radius: 4px;
  }

  a {
    color: $mainColor;
    text-decoration: none;
  }
}


/**
 * lt-md
 */
 @media screen and (max-width: 959px){
  // dialog
  .rs-full-screen-dialog .mat-dialog-container {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: transparent;
    border-radius: 0;
  }
}