// variable 
$mainColor: #0881A3;
$baseColor: #434343;
$liteGray: #d3d3d3;

$sizeXXl: 28px;
$sizeXl: 24px;
$sizeLg: 20px;
$sizeMd: 16px;
$sizeSm: 14px;
$sizeXs: 12px;

.shadow {
  box-shadow: 1px 1px 6px 1px  rgba(0,0,0,0.4);
}