<button class="close-button" mat-fab (click)="close()">
    <mat-icon>close</mat-icon>
</button>

<div class="dialog-inner" [ngClass]="{'scrolled': isFullScreeem}">   
  <div class="dialog-content" #cont (scroll)="scroll($event)">
    <div class="top-image" *ngIf="post.info?.media">
      <img [src]="post.info?.media[0]?.mediaDetails?.sizes?.mediumLarge?.sourceUrl" [fxShow]="false" [fxShow.lt-md]="true" />
      <img [src]="post.info?.media[0]?.mediaDetails?.sizes?.large?.sourceUrl" [fxShow]="false" [fxShow.gt-sm]="true" />
    </div>
    
    <div class="main-content">
      <div fxFlexOffset.md="10%" fxFlexOffset.lg="15%" fxFlex.md="80%" fxFlex.lg="70%">
        <div class="post-info">
          <div class="date">{{ getDateFormat(post?.date) }}</div>
          <div class="post-title">{{ post?.title?.rendered }}</div>
          <div class="tags">
            <mat-chip-list>
              <mat-chip *ngFor="let category of post?.info?.team[0]">{{category.name}}</mat-chip>
              <mat-chip *ngFor="let tag of post?.info?.team[1]" color="accent" selected="true">{{tag.name}}</mat-chip>
            </mat-chip-list>
          </div>  
        </div>
      
        <div class="description wordpress-post" [innerHTML]="post?.content?.rendered" highlight></div>

        <div class="footer-content">
          <a mat-raised-button color="accent" [href]="post?.link" target="_blank">オリジナルページで読む</a>
        </div>
      </div>
    </div>
  </div>
</div>
  