@import "../../assets/styles/common.scss";

.top-image {
  height: 100vh;
  width: auto;
  position: relative;
  background-color: black;
  background-image: url('/assets/img/top_bk.jpg');
  background-position: center center;
  background-size: cover;

  .background {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .logo {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: auto;
  }

  .shadow {
    box-shadow: inset 6px 2px 20px rgba(255, 255, 255, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

/**
 * lt-md
 */
 @media screen and (max-width: 959px){
  .top-image {
    .logo {
      width: 200px;
    }
  }
}
  